<!DOCTYPE html>
<html>
<head>
<title> Event Finder </title>
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" type='text/css' href= "/static/foundation/css/normalize.css" />
	<link rel="stylesheet" type='text/css' href= "/static/foundation/css/foundation.css" />
	<link rel="stylesheet" type='text/css' href= "/static/foundation/css/foundation.min.css" />
	<script src="/static/foundation/js/vendor/modernizr.js"></script> -->
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>

  <div class="top-bar {{on_events_page}}">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a class="title_page_link" href="/">EventFinder</a></li>
        <li><a href="https://github.com/cnwalker/eventbrite"> Source code </a></li>
        <li><a href="http://cnwalker.github.io/"> Creator Website </a></li>
        <li><a href="https://www.eventbrite.com/"> Eventbrite </a></li>
      </ul>
    </div>
  </div>

{% block content %}{% endblock %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
