{% extends "base.html" %}

{% block content %}

<div class="callout large primary">
  <div class="row column text-center">
    <h1>Join the fun</h1>
    <h2 class="subheader"> Find events with EventFinder </h2>
  </div>
</div>

<hr>

{% if error %}
  <p align="center" class="error"> {{error}} </p>
{% endif %}

<div class="row">
  <div class="small-7 small-centered columns">
    <div id="category_container">
      <form action="/" method="post">
        {% csrf_token %}
        {% for field in category_form %}
          {% if field.label == 'Location' %}
              {{field.errors}}
              {{field.label}}
              {{ field }}
          {% else %}
              <p align="center" class="event_display_header"> Please select up to three categories: </p>
                {{ field.errors }}
                <div class="">{{ field }}</div>
          {% endif %}
        {% endfor %}
        <input class="button" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</body>
{% endblock %}
